<h1>Let's take a look under the hood</h1>
In order to get a better look at the data, I'm going to dig in a little bit to see what questions I think need to be asked and answered with this data set

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

There are three datasets in the Seattle Data from Airbnb: reviews, listings and calendar. I'm going to import each of these and take a look and see if there are any models that we might be able to generate for them.

In [4]:
reviews = pd.read_csv('./seattle/reviews.csv')
reviews.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [12]:
listings = pd.read_csv('./seattle/listings.csv')
listings.head()
listings.price.head()

0     $85.00
1    $150.00
2    $975.00
3    $100.00
4    $450.00
Name: price, dtype: object

In [9]:
calendar = pd.read_csv('./seattle/calendar.csv')
calendar.head()

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN

In [11]:
print( "Listings shape: ",listings.shape)
print("Reviews shape: ",reviews.shape)
print("Calendar shape: ",calendar.shape)

Listings shape:  (3818, 92)
Reviews shape:  (84849, 6)
Calendar shape:  (1393570, 4)

When I first got to this dataset, I thought I would want to compare Boston and Seattle data. But now I believe there are enough questions that I can ask and try to answer with this dataset. As I'm from Austin, Texas, and I have listed my house on Airbnb before, I'm curious most about the pricing data and when folks would change their price based on weather and large events in the area. Here are some preliminary questions:

1.) How often to listings change their price?
2.) Are the price changes based on time of year? (My hypothesis is that they change for a large event and then change back!)
3.) I'm also curious about weather data and how that would affect the price, so I'm hoping I can also tie this in!
4.) I'm also curious how much we can predict price based off reviews! I'm hoping that we can use a couple features, reviews per listing, and also we could try to use the word count for a location to see its good vs. bad.